{% extends "wafer/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Grant Application{% endblock %}
{% block page_title %}Grant Application{% endblock %}

{% block content %}

<form method="post" action="" class="container mx-auto px-4 py-4" id="grant-application-form"
    x-data='{
        gender: "{{ form.gender.value|default:form.gender.field.initial }}",
        current_role: "{{ form.current_role.value|default:form.current_role.field.initial }}",
        request_travel: {{ form.request_travel.value|yesno:"true,false,false" }},
        request_accommodation: {{ form.request_accommodation.value|yesno:"true,false,false" }}
    }'>
    {% csrf_token %}
    {% crispy form %}
</form>

{% endblock %} 