{% extends "registration/registration_base.html" %}
{% load i18n %}

{% load tailwind_filters %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block page_title %}{% trans 'Reset Password' %}{% endblock %}


{% block content %}
<section class="max-w-3xl mx-auto space-y-3">

    <p class="">
        {% blocktrans %}
        Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new one.
        {% endblocktrans %}
    </p>
    <form method="post" action="">
        {% csrf_token %}
        {{ form | crispy }}
        <input type="submit" value="{% trans 'Reset password' %}" class="btn mt-3" />
    </form>
</section>
{% endblock %}


{# This is used by django.contrib.auth #}