{% extends "registration/registration_base.html" %}
{% load i18n %}

{% load tailwind_filters %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block page_title %}{% trans 'Change Password' %}{% endblock %}


{% block content %}
<section class="max-w-3xl mx-auto space-y-3">


    <form method="post" action="">
        {% csrf_token %}
        {{ form | crispy }}
        <input type="submit" value="{% trans 'Change password' %}" class="btn mt-3" />
    </form>
</section>
{% endblock %}


{# This is used by django.contrib.auth #}