{% extends "wafer/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Visa Letter Request{% endblock %}
{% block page_title %}Visa Letter Request{% endblock %}

{% block content %}

<form method="post" action="" class="container mx-auto px-4 py-4 max-w-3xl mx-auto" id="visa-letter-form">
    <p class="text-grey-700 mb-4">All fields are required. We'll email the signed letter to the address on your account once the request is approved.</p>
    {% csrf_token %}
    {{ form | crispy}}
    <input type="submit" class="btn" value="Request visa letter" />
</form>

{% endblock %}