{% extends "wafer/base.html" %}
{% load i18n %}
{% block title %}{{ page.name }} - {{ WAFER_CONFERENCE_NAME }}{% endblock %}

{% block page_title %}
{{page.name}}
{% endblock %}
{% block content %}
<main id="main" class="max-w-prose mx-auto px-4 py-8 markdown-body">
  {{ page.cached_render|safe }}

  {% if perms.pages.change_page %}
  <div class="page-controls clearfix d-print-none mt-8 flex flex-wrap gap-3">
    <a href="{{ page.get_absolute_url }}?edit" class="btn btn-secondary">{% trans 'Edit' %}</a>
    <a href="{{ page.get_absolute_url }}?compare" class="btn btn-secondary">{% trans 'Compare to Previous version'
      %}</a>
  </div>
  {% endif %}
</main>
{% endblock %}
