{% load sponsors %}
{% load static %}
{% django_browser_reload_script %}

<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{{ conference_name }}{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{% static 'vendor/@fortawesome/fontawesome-free/css/all.css' %}" rel="stylesheet">

    <link href="{% static 'vendor/main.css' %}" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;600;700&family=Inter:wght@400;500;600&family=JetBrains+Mono:wght@400;500&display=swap">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
    <link rel="apple-touch-icon" href="{% static 'img/favicon-180x180.png' %}">

    <script src="//unpkg.com/alpinejs" defer></script>

    {% block extra_head %}

    {% endblock%}
</head>

<body class="">

    <a href="#main"
       class="sr-only focus:not-sr-only focus:fixed focus:top-2 focus:left-2 focus:z-50 focus:bg-cream focus:text-indigo focus:px-4 focus:py-2 focus:rounded-md focus:outline-2 focus:outline-offset-2 focus:outline-indigo focus:no-underline">
        Skip to main content
    </a>

    {% block header %}
    <header class="bg-indigo">
        {% include "partial_header.html" %}
    </header>
    {% endblock %}



    <main id="main">
        {% block main %}
        <div class="lg:max-w-7xl mx-auto px-3">
            <h1 class="text-center pt-10 pb-14">{% block page_title %} {% endblock %}</h1>
            {% block content %}
            Override this in child templates
            {% endblock %}
        </div>
        {% endblock %}
    </main>

    <footer class="bg-indigo text-cream mt-16 pt-10 pb-8 px-5">

        {% sponsors_footer %}


        <div class="lg:flex lg:items-center max-w-7xl mx-auto lg:justify-between space-y-3 text-center">




            <p class="text-sm lg:text-base text-grey-300">
                &copy; 2026 Python Software Society of South Africa - PyConZA
            </p>

            <nav class="text-3xl space-x-1" id="social_media_footer">
                {% for link in social_links %}
                <a href="{{link.url}}" target="_blank" class="text-cream hover:text-pink no-underline">
                    <i class="{{link.icon}}"></i>
                </a>
                {% endfor %}
            </nav>
        </div>

    </footer>


    {% comment %}

    <div
        class="text-gray-600 m-3 appearance-none w-full leading-normal border-gray-300 border  bg-white px-4 focus:outline-none block text-gray-700  text-sm font-bold mb-2 py-2 rounded-lg text-red-500 text-xs italic text-sm font-bold mb-2 border border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700 django-markitup-widget">
        these classes are used by crispy forms. They need to be explicitly included in our html so that the tailwind
        build will pick them up and draw them
    </div>
    {% endcomment %}

</body>

</html>